[Unit]
Description=Intelligent Cutting Process Data Processor (python3)
After=network-online.target


[Service]
User=manager
Type=simple
WorkingDirectory=/opt/bystronic/icpdataprocessor/work
EnvironmentFile=/opt/bystronic/icpdataprocessor/icpdataprocessor.conf
ExecStart=/opt/bystronic/venvs/icpdataprocessor/bin/python3 /opt/bystronic/icpdataprocessor/src/main.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
WantedBy=boot-complete.target