#! /usr/bin/make -f

# export DH_VERBOSE = 1
export PYBUILD_NAME = icpdataprocessor

export DH_VIRTUALENV_INSTALL_ROOT=/opt/bystronic/venvs

export OPENSSL_ROOT_DIR=/usr/bin/openssl
export CMAKE_ARGS="-DONNX_USE_PROTOBUF_SHARED_LIBS=ON"

EXTRA_REQUIREMENTS=--preinstall "setuptools>=34" 
DH_VENV_ARGS=--with python-virtualenv $(EXTRA_REQUIREMENTS)
# --buildsystem=pybuild

%:
	dh $@ ${DH_VENV_ARGS} --width python3.9 --with systemd 

override_dh_virtualenv:
	dh_virtualenv --python python3.9 --builtin-venv ${EXTRA_REQUIREMENTS}

override_dh_installinit:
	dh_installinit --name=icpdataprocessor

override_dh_systemd_enable:
	dh_systemd_enable --name=icpdataprocessor

override_dh_systemd_start:
	dh_systemd_start --name=icpdataprocessor

override_dh_systemd_stop:
	dh_systemd_stop --name=icpdataprocessor

override_dh_fixperms:
	dh_fixperms
	chmod 777 debian/icpdataprocessor/opt/bystronic/icpdataprocessor/work
	chmod 777 debian/icpdataprocessor/opt/data/bystronic/icpdataprocessor/work
	chmod 777 debian/icpdataprocessor/opt/bystronic/icpdataprocessor/log
	chmod 777 debian/icpdataprocessor/opt/data/bystronic/icpdataprocessor/log

